<div>
	<div style="--display-style: none; display: var(--display-style)">
		<aside style="border:1rem solid red; background: #ff0; padding: 0.2rem">
			<!-- 使わないならコメントアウトして大丈夫かもです -->
			<p>
				このwebサイトでは<a href="https://developer.mozilla.org/ja/docs/Web/CSS/Using_CSS_variables">CSS variables</a>を使っているかもしれません。<br />
				この機能には、Firefox 31以上や、Google chrome 49以上が対応していますが、古いブラウザでは正しく表示されません。<br />
				このメッセージを目にしたということは、ブラウザがその機能に非対応です。<br />
				速やかにブラウザをアップデートするか、乗り換えることをおすすめします。
			</p>
		</aside>
	</div>
</div>
