<% target = @target || @item %>
<div class="created-at">
	<% if created_at = target[:created_at] %>
		<p>
			<i class="fa fa-calendar-plus-o"></i> created:
			<% year4 = created_at.strftime('%Y') %>
			<% month2 = created_at.strftime('%m') %>
			<time datetime="<%= created_at.strftime('%FT%T%:z') %>"><%= created_at.strftime('%Y/%m/%d (%a) %H:%M %Z') %></time>
		</p>
	<% end %>
	<% if updated_at = target[:updated_at] %>
		<p>
			<i class="fa fa-calendar-check-o"></i> updated:
			<time datetime="<%= updated_at.strftime('%FT%T%:z') %>"><%= updated_at.strftime('%Y/%m/%d (%a) %H:%M %Z') %></time>
		</p>
	<% end %>
</div>
