<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Rogiken wiki</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="https://www.rogiken.org/">Rogiken</a>
				</li>
				<li>
					<!--<a href="https://blog.rogiken.org/">Blog</a>-->
					<a href="http://titech-ssr.blog.jp/">Blog</a>
				</li>
			</ul>
			<!-- Hash of the commit -->
			<!--<p class="navbar-text navbar-right">commit <a class="navbar-link" href="">0.0.0</a></p>-->
		</div>
	</div>
</nav>
<div id="top"></div>
