<style scped="scoped">
html,body{
  height: 100%;
  margin: 0;
  width: 100%;
}
.container {
  width: 100%;
}
ul {
  list-style: none;
}
ul.search {
  //width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  position: relative;
}
ul.search > div.closebtn {
  width:auto;
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1;
}
div.search > button.add {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  margin-right: 0;
}
ul.search > div.content {
  display:flex;
  align-items:center;
  justify-content: flex-start;
  height: 100%;
}

.content > div {
  margin-left: 5px;
}

ul.htags {
  padding-left: 0;
}

div.search ,div.children {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  align-content:flex-start;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
}

div.search > ul.search, div.search > button {
  margin-left: 3px;
  margin-right: 3px;
}


/* Dropdown */
button.dropbtn {
  /*background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;*/
  cursor: pointer;
}
/* dropdown list container */
.dropdown {
  position: relative;
  display: inline-block;
}
/* content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* show content */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div:hover { background-color: #f1f1f1; }

/***** tags ****/

/* breadcrumb */
ul.breadcrumb {
  margin-bottom: 5px;
}

/* htag close */
.htags.content {
  position: relative;
}
.htags.content > button {
  position: absolute;
  top:0;
  left:0;
}
.htags.content > ul.htag > div.fa.fa-tags:hover {
  color: red;
}

/* tag delete */
ul.htag > li:before {
  padding-left: 0;
  padding-right: 0;
}
ul.htag > li > span {
  padding-left: 5px;
  padding-right: 5px;
}
ul.htag > li > span:hover {
  color: red;
}

/* breadcrumb */
.htag {
  border-radius: 4px;
}
ul.htag {
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 8px 15px 8px 15px;
  background-color: #f5f5f5;

  display: flex;
  flex-wrap:nowrap;
  align-items: center;
}
ul.htag > li {
  display: flex;
}
ul.htag > li + li::before {
  content: "/\00a0"; 
  color: #ccc;
}
ul.htag > li > span {
  white-space: nowrap;
}
ul.htag > * {
  margin-right: 3px;
}

/* tag input */
ul.htag > input {
  border-width: 0;
  background-color: #f5f5f5;
  position: relative;
  display: inline-block;
}

.candidates-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.candidates-content > div:hover { background-color: #f1f1f1; }
</style>
