<div style="border-left: 1px solid lightgray">
	<section>
		<h3>メタ記事</h3>
		<ul>
			<li>
				<a href="/rogiken/wiki/guideline">Wikiガイドライン</a>
			</li>
			<li>
				<a href="/rogiken/blog/creating-article">ブログ記事の作り方</a>
			</li>
		</ul>
	</section>
	<section>
		<h3>リポジトリ</h3>
		<ul>
			<li>wiki<ul>
					<li>
						<a href="https://github.com/titech-ssr/wiki.rogiken.org">Wikiリポジトリ</a>
					</li>
					<li>
						<a href="https://github.com/titech-ssr/wiki.rogiken.org/issues">Wiki Issues</a>
					</li>
			</ul></li>
			<li>ブログ<ul>
					<li>
						<a href="https://github.com/titech-ssr/blog.rogiken.org">ブログリポジトリ</a>
					</li>
					<li>
						<a href="https://github.com/titech-ssr/blog.rogiken.org/issues">ブログ Issues</a>
					</li>
			</ul></li>
		</ul>
	</section>
</div>
